@font-face {
	font-family: roadRage;
	src: url("../jolin-tsai/fonts/Road_Rage.otf");
}
body {
  background-color: #22222a;
  color: #9c9a04;
  font-family: roadRage;
  font-size: 25px;
}

#topNav {
	text-align: center;
	position: -webkit-sticky;
    position: sticky;
	top: 0;
	background-color: black;
}

li {
	display: inline-block;
	padding: 0 15px;
}
a {
  color: white;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #a52726;
}

h1, h2 {
  text-align: center;
  color: #a52726;
}

#description {
  text-align: center;
}


#image, #album {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figcaption {
  text-align: center;
}
.responsive {
  max-width: 100%;
  height: auto;
}
#image {
  border: 15px solid #9c9a04;
}

#tribute-info p {
  text-align: center;
  border: 15px solid black;
  padding: 10px;
  margin: 5px 200px 10px 200px;
}

#footerNav {
	text-align: center;
}
